.cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0px;
  color: black;
  .card {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -25%;
    border-radius: 25px;
    padding: 50px;
    transform-origin: top;
    h2 {
      text-align: right;
      margin: 0px;
      font-size: 3rem;
      font-weight: 450;
    }
    .body {
      display: flex;
      justify-content: center;
      height: 100%;
      margin-top: 50px;
      gap: 50px;
      .imageContainer {
        border-radius: 25px;
        overflow: hidden;
      }
    }
  }
}
