.main {
  display: flex;
  position: relative;
  height: auto;
  overflow: hidden;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 600px) {
  .main,
  .marquee {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
}
