.project {
  display: flex;
  width: 100%;
  cursor: pointer;
  transition: all 0.2s;
}
.project:hover {
  opacity: 0.5;
}

.project:hover p {
  transform: translateX(10px);
}

.project h2 {
  font-size: 3.7rem;
  margin: 0px;
  font-weight: 500;
}

.project p {
  font-size: 2.7rem;
  margin-top: 20px;
  font-weight: 400;
  transition: all 0.4s;
}
