.main {
  display: flex;
  height: auto;
  overflow: hidden;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.slider {
  white-space: nowrap;
  position: relative;
}

.slider p {
  margin: 0px;
  font-weight: 400;
  margin-right: 1rem;
}

.slider p:nth-of-type(2) {
  position: absolute;
  left: 100%;
  top: 0;
}
