.avatar {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  position: absolute;
  -webkit-animation: moveX 4s linear 0s infinite alternate,
    moveY 6.4s linear 0s infinite alternate;
  -moz-animation: moveX 4s linear 0s infinite alternate,
    moveY 6.4s linear 0s infinite alternate;
  -o-animation: moveX 4s linear 0s infinite alternate,
    moveY 6.4s linear 0s infinite alternate;
  animation: moveX 4s linear 0s infinite alternate,
    moveY 6.4s linear 0s infinite alternate;
}

@-webkit-keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 14.5rem;
  }
}
@-moz-keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 14.5rem;
  }
}
@-o-keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 15rem;
  }
}
@keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: 14.5rem;
  }
}

@-webkit-keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 9.5rem;
  }
}
@-moz-keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 9.5rem;
  }
}
@-o-keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 10rem;
  }
}
@keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: 9.5rem;
  }
}

@media (min-width: 768px) {
  .avatar {
    width: 31px;
    height: 31px;
    border-radius: 5px;
  }

  @-webkit-keyframes moveX {
    from {
      left: 0;
    }
    to {
      left: 18.5rem;
    }
  }
  @-moz-keyframes moveX {
    from {
      left: 0;
    }
    to {
      left: 18.5rem;
    }
  }
  @-o-keyframes moveX {
    from {
      left: 0;
    }
    to {
      left: 19rem;
    }
  }
  @keyframes moveX {
    from {
      left: 0;
    }
    to {
      left: 18.5rem;
    }
  }

  @-webkit-keyframes moveY {
    from {
      top: 0;
    }
    to {
      top: 13.5rem;
    }
  }
  @-moz-keyframes moveY {
    from {
      top: 0;
    }
    to {
      top: 13.5rem;
    }
  }
  @-o-keyframes moveY {
    from {
      top: 0;
    }
    to {
      top: 13.9rem;
    }
  }
  @keyframes moveY {
    from {
      top: 0;
    }
    to {
      top: 13.5rem;
    }
  }
}
