.header {
  padding: 30px;
  position: fixed;
  right: 0;

  .button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .burger {
    width: 100%;
    &::after,
    &::before {
      content: "";
      display: block;
      height: 1px;
      width: 40%;
      margin: auto;
      background-color: black;
      position: relative;
      transition: transform 0.3s;
    }

    &::after {
      top: -5px;
    }

    &::before {
      top: 5px;
    }
  }

  .burgerActive {
    &::after {
      transform: rotate(45deg);
      top: -1px;
    }

    &::before {
      transform: rotate(-45deg);
      top: 0px;
    }
  }
}

@media (max-width: 600px) {
  .header {
    padding: 29px;
    .button {
      height: 50px;
      width: 50px;
    }
    .burger {
      &::after {
        top: -4px;
      }
      &::before {
        top: 4px;
      }
    }
    .burgerActive {
      &::after {
        transform: rotate(45deg);
        top: -0.4px;
      }

      &::before {
        transform: rotate(-45deg);
        top: 0px;
      }
    }
  }
}
