.menu {
  height: 100vh;
  background-color: #a3a3a3;
  position: fixed;
  right: 0;
  top: 0;
  color: black;
  z-index: 5;

  .body {
    box-sizing: border-box;
    height: 100%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .nav {
      display: flex;
      flex-direction: column;
      font-size: 70px;
      gap: 13px;
      margin-right: 25px;
      margin-top: 50px;

      a {
        text-decoration: none;
        color: black;
        font-weight: 300;
      }
    }
  }
}

@media (max-width: 600px) {
  .menu {
    width: 100vw;
    .body {
      height: 100%;
      padding: 50px;
      padding-top: 100px;
      .nav {
        font-size: 65px;
        gap: 15px;
        margin-top: 30px;
      }
    }
  }
}
